#red {
    background-color: red;
}
#green {
    background-color: green;
}
#blue {
    background-color: blue;
}
button {
    border-radius: 5px; /* Makes the boxes look a little round depending on the px*/
    width: 100px;
    height: 40px;
    margin: 5px;    /* Margin gives spaces between the elements from their different margins*/
    
}